{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block body %}

<div class="content">
    <div class="form-wrapper">
        <h3>Log in to the MIBiG Submission system</h3>
        {{ macros.simple_divform(form) }}

        <div class="form-group">
            <a class="btn btn-light" href="{{url_for('auth.password_email')}}">Reset my password</a>
            <a class="btn btn-light" href="{{url_for('auth.create_new_user')}}">Create an account</a>
        </div>

        

    </div>
</div>
{% endblock %}
