{% import 'macros.html' as m %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>MIBiG Submission</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <nav class="navbar-mibig">
        <div class="nav-wrapper row">
            <a class="col left logo" href="{{ url_for('main.index') }}"><img class="logo"
                    src="{{url_for('static', filename='img/mibig_logo.svg')}}"> </a>
            <a class="header-title col s4 left">Submission Portal</a>
            <a class="edit-header">{% block header -%}{%- endblock %}</a>
            {% if current_user and current_user.is_authenticated -%}
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">{{ m.icon('user') | safe}} {{ current_user.info.call_name }}</a></li>
                <li><a href="/auth/logout">Log out</a></li>
            </ul>
            {%- endif %}
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages -%}
    <div class="row flashes">
        {% for cat, message in messages -%}
        {% if cat == "error" -%}
        <div class="alert z-depth-3 red lighten-4" role="alert">{{m.icon('exclamation') | safe}} {{ message }}</div>
        {% elif cat == "warning" -%}
        <div class="alert z-depth-3 orange lighten-4" role="alert">{{m.icon('question') | safe}} {{ message }}</div>
        {%- else %}
        <div class="alert z-depth-3 green lighten-3" role="alert">{{m.icon('check') | safe}} {{ message }}</div>
        {%- endif %}

        {%- endfor %}
    </div>
    {%- endif %}
    {%- endwith %}
    {% block body -%}{%- endblock %}
</body>

<script>
    let form = document.querySelector("form");
    let btn = document.querySelector("#back-btn");

    if (form && btn) {
        Array.from(form).forEach(el => el.dataset.origValue = el.value);
        function formHasChanges(form) {
            return Array.from(form).some(el => !'origValue' in el.dataset || el.dataset.origValue !== String(el.value));
        }
        btn.addEventListener("click", function (event) {
            if (formHasChanges(form)) {
                if (!confirm("Any unsubmitted data will be lost!")) {
                    event.preventDefault()
                }
            }
        })
    }

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('input[tooltip]');
        var instances = M.Tooltip.init(elems, {});
    });
</script>