{% macro simple_divform(form, is_reviewer=false, reviewed=false) %}
<form method="post" class="container">
    {{ simple_divform_inner(form, is_reviewer, reviewed) }}
</form>
{% endmacro %}

{% macro simple_divform_inner(form, is_reviewer=false, reviewed=false ) %}
<fieldset>
    {% for field in form %}
    {% if field.type == "HiddenField" %}
    {{field}}
    {% else %}
    <div id="{{ field.id }}" class="form-group">
        {{ render_field(field, is_reviewer, reviewed) }}
    </div>
    {% endif %}
    {% endfor %}

</fieldset>
{% endmacro %}


{% macro render_field(field, is_reviewer=false, reviewed=false) %}

{% set is_required = " fw-bold" %}
{% set ns = namespace(delete=true) %}

{% if field.type == 'SubmitField' %}
<div>
    {% if is_reviewer %}
    {% set is_reviewed = "checked" if reviewed else "" %}
    <!-- <div class="form-group" style="background-color: var(--mibig-light)">
        <label class="form-label fw-bold" for="reviewed">Mark as reviewed</label>
        <input id="reviewed" name="reviewed" class="form-check-input" type="checkbox" value="yes" {{is_reviewed}}>
        <p class="form-text text-muted">Visible to reviewers only, please check this box only when reviewing <u>a
                colleague's</u> submission</p>
    </div> -->
    {% endif %}

    {{ field(class='btn btn-light')}}
</div>
{% else %}

{% if field.type == "FieldList" %}
{{field.label(class='form-label'~is_required)}}
<div id="{{field.id}}" class="subform">
    {{descr(field)}}

    {% if field.max_entries==1 %}
    {% set ns.delete=false %}
    {% endif %}

    {% for subfield in field %}
    {{simple_divsubform(subfield, deletebtn=ns.delete)}}
    {% endfor %}
    {{field}}
</div>

{% elif field.type == 'FormField' %}
{{field.label(class='form-label'~is_required)}}
<div id="{{field.id}}" class="subform">
    {{descr(field)}}
    {{ simple_divsubform(field, deletebtn=false) }}
</div>

{% elif field.type == 'BooleanField' %}
<div class="form-check">
    {{field.label(class='form-label'~is_required)}}
    {{ field(class='form-check-input' + (' is-invalid' if field.errors else '')) }}
    {{descr(field)}}
</div>

{% elif field.type == "SelectField" or field.type == "SelectMultipleField" %}
{{field.label(class='form-label'~is_required)}}
{{descr(field)}}
{{ field(class='form-select' + (' is-invalid' if field.errors else '')) }}

{% else %}
{{field.label(class='form-label'~is_required)}}
{{descr(field)}}
{{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
{% endif %}

{% if field.errors %}
{% for error in field.errors %}
<div class="invalid-feedback">{{ error }}</div>
{% endfor %}
{% endif %}

{% endif %}
{% endmacro %}

{% macro simple_divsubform(form, deletebtn=false, message=false) %}
<fieldset>
    <div id="{{form.id}}" class="form-group subgroup">
        {% if message %}
        <span class="form-text text-muted fst-italic">{{icon("pen") | safe}} {{message}}</span>
        {% endif %}

        {% if deletebtn %}
        <button class='btn btn-sm btn-danger btn-del' type="button" hx-delete='/delete' hx-target='closest fieldset'
            hx-swap='outerHTML'>&#x2715;</button>
        {% endif %}
        {% if form.type != "FormField" and form.type != "HiddenField" %}
        <div class="form-field">
            {{render_field(form)}}
        </div>
        {% else %}

        {% if form.type == "HiddenField" %}
        {{field}}
        {% else %}

        {% for field in form %}
        <div class="form-field">
            {{render_field(field)}}

        </div>
        {% endfor %}
        {% endif %}
        {% endif %}

    </div>


</fieldset>
{% endmacro %}

{% macro list_user_actions(current_user) %}
<div class="form-group subgroup">
    <table class="table">
        <thead class="table-header">
            <th>Action</th>
            <th>Description</th>
        </thead>
        {% if current_user.is_submitter() %}
        <tr>
            <td><a href="{{url_for('new.new_entry')}}"><button class="btn btn-primary">New submission</button></a></td>
            <td>Create a new draft submission</td>
        </tr>
        {% endif %}
        {% if current_user.is_reviewer() %}
        <tr>
            <td><a href="{{url_for('review.list_submissions')}}"><button class="btn btn-primary">Review</button></a></td>
            <td>Review pending submissions</td>
        </tr>
        {% endif %}
        {% if current_user.is_admin() %}
        <tr>
            <td><a href="{{url_for('new.new_entry')}}"><button class="btn btn-primary">Users</button></a></td>
            <td>Add, change and remove users</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endmacro %}

{% macro list_user_submissions(user_submissions) %}

<div class="form-group subgroup">
    {% if user_submissions | count == 0 %}
        You have no (draft) submissions yet. Create one with the controls above
    {% else %}
    <table class="table">
        <thead class="table-header">
            <th>Accession</th>
            <th>State</th>
            <th></th>
        </thead>
        {% for submission in user_submissions %}
        <tr>
            <td>{{ submission.accession }}</td>
            <td>{{ submission.state }}</td>
            {% if submission.state == "draft" %}
                <td><a href="{{url_for('edit.edit_bgc', bgc_id=submission.accession, form_id='locitax')}}"><button class="btn btn-primary">Edit</button></a></td>
            {% endif %}
            {% if submission.state == "pending_review" %}
                <td><a href="{{url_for('edit.redraft_bgc', bgc_id=submission.accession)}}"><button class="btn btn-danger">Redraft</button></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endmacro %}


{% macro list_existing_entries(existing_entries, start, limit, search, record_count) %}

<div id="existing-entry" class="form-group subgroup">
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <input type="text" class="form-control" id="bgcSearch" placeholder="Search for BGC ID"
                    value="{{search}}">
            </div>
            <div class="col-md">
                <button id="searchBtn" class="btn btn-primary">Search</button>
                <script type="application/javascript">
                    const searchBtn = document.getElementById('searchBtn');
                    const bgcSearch = document.getElementById('bgcSearch');
                    searchBtn.addEventListener('click', () => {
                        if (bgcSearch.value === "") {
                            return;
                        }
                        document.location.href = "?search=" + bgcSearch.value + "#existing-entry";
                    });
                </script>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="table-header">
            <th>Accession</th>
            <th>Status</th>
            <th>Completeness</th>
            <th></th>
        </thead>
        {% for entry in existing_entries %}
        <tr>
            <td>{{ entry.accession }}</td>
            <td>{{ entry.status }}</td>
            <td>{{ entry.completeness }}</td>
            <td><a href="/edit/{{entry.accession}}"><button class="btn btn-primary">Edit</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-1">
                {% if start | int > 0 %}
                <a href="/?start={{[0, start | int - 10] | max}}#existing-entry"><button
                        class="btn btn-primary">&lt;</button></a>
                {% endif %}
            </div>
            <div class="col-2 text-center">
                {{start | int + 1}} - {{[record_count, start | int + 10 ] | min}}
            </div>
            <div class="col-1">
                {% if start | int + 10 < record_count %} <a
                    href="/?start={{[record_count, start | int + 10 ] | min}}#existing-entry"><button
                        class="btn btn-primary">&gt;</button></a>
                    {% endif %}
            </div>
        </div>
    </div>
</div>

{% endmacro %}

{% macro descr(field) %}

{% if field.description %}
<p class="form-text text-muted" style="margin-bottom:0">{{field.description}}</p>
{% endif %}

{% endmacro %}

{% macro icon(name) -%}
<svg xmlns="http://www.w3.org/2000/svg" height="1em" width="1em" fill="currentColor">
    <use xlink:href="/static/img/icons.svg#{{ name }}"></use>
</svg>
{%- endmacro %}