{% macro simple_divform(form, is_reviewer=false, reviewed=false) %}
<form method="post" class="">
    {{ simple_divform_inner(form, is_reviewer, reviewed) }}
</form>
{% endmacro %}

{% macro simple_divform_inner(form, is_reviewer=false, reviewed=false ) %}
<fieldset>
    {% for field in form %}
    {% if field.type == "HiddenField" or field.widget.input_type == "hidden"%}
    {{field}}
    {% else %}
    <div id="{{ field.id }}" class="form-group">
        {{ render_field(field, is_reviewer, reviewed) }}
    </div>
    {% endif %}
    {% endfor %}

</fieldset>
{% endmacro %}


{% macro render_field(field, is_reviewer=false, reviewed=false) %}

{% set is_required = " fw-bold" %}
{% set ns = namespace(delete=true) %}

{% if field.widget.input_type == "hidden" %}
{{field}}
{% else %}

{% if field.type == 'SubmitField' %}
<div>
    {% if is_reviewer %}
    {% set is_reviewed = "checked" if reviewed else "" %}
    <!-- <div class="form-group" style="background-color: var(--mibig-light)">
        <label class="form-label fw-bold" for="reviewed">Mark as reviewed</label>
        <input id="reviewed" name="reviewed" class="form-check-input" type="checkbox" value="yes" {{is_reviewed}}>
        <p class="form-text text-muted">Visible to reviewers only, please check this box only when reviewing <u>a
                colleague's</u> submission</p>
    </div> -->
    {% endif %}

    {{ field(class='btn btn-light')}}
</div>
{% else %}

{% if field.type == "FieldList" %}
{{field.label(class='form-label'~is_required)}}
<div id="{{field.id}}" class="subform">
    {{descr(field)}}

    {% for subfield in field %}

    {% if field.min_entries and loop.index <= field.min_entries %}
    {% set ns.delete=false %}
    {% endif %}

    {{simple_divsubform(subfield, deletebtn=ns.delete)}}
    {% endfor %}
    {{field}}
</div>

        {% elif field.name == 'structure' %}

        <div id="{{field.id}}" class="subform">
            {{field.label(class='form-label'~is_required)}}
            {{descr(field)}}
            {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
            <img src="{{url_for('edit.render_smiles', smiles_string=field.data)}}" alt="SMILES render"
                style="min-height: 100px;">
        </div>

        {% elif field.type == 'FormField' %}
        {{field.label(class='form-label'~is_required)}}
        <div id="{{field.id}}" class="subform">
            {{descr(field)}}
            {{ simple_divsubform(field, deletebtn=false) }}
        </div>

        {% elif field.type == 'BooleanField' %}

        <div class="form-check">
            {{descr(field)}}
            <label>
                {{ field(class='form-check-input filled-in blue' + (' is-invalid' if field.errors else '')) }}
                <span style="color:black">
                    {{field.label.text}}
                </span>
            </label>

        </div>

        {% elif field.type == "SelectField" or field.type == "SelectMultipleField" %}
        {{field.label(class='form-label'~is_required)}}
        {{descr(field)}}
        {{ field(class='form-select' + (' is-invalid' if field.errors else '')) }}

        {% else %}
        {{field.label(class='form-label'~is_required)}}
        {{descr(field)}}
        {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
        {% endif %}

        {% if field.errors %}
        {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
        {% endif %}

        {% endif %}
        {% endif %}
        {% endmacro %}

        {% macro simple_divsubform(form, deletebtn=false, message=false) %}
        <fieldset>
            <div id="{{form.id}}" class="form-group subgroup">
                {% if message %}
                <span class="form-text text-muted fst-italic">{{icon("pen") | safe}} {{message}}</span>
                {% endif %}

                {% if deletebtn %}
                <button class='btn btn-sm red btn-del' type="button" hx-delete='/delete' hx-target='closest fieldset'
                    hx-swap='outerHTML'>&#x2715;</button>
                {% endif %}
                {% if form.type != "FormField" and form.type != "HiddenField" %}
                <div class="form-field">
                    {{render_field(form)}}
                </div>
                {% else %}

                {% if form.type == "HiddenField" %}
                {{field}}
                {% else %}

                {% for field in form %}
                <div class="form-field">
                    {{render_field(field)}}

                </div>
                {% endfor %}
                {% endif %}
                {% endif %}

            </div>


        </fieldset>
        {% endmacro %}

        {% macro list_user_actions(current_user) %}
        <div class="form-group subgroup">
            <table class="table">
                <thead class="table-header">
                    <th>Action</th>
                    <th>Description</th>
                </thead>
                {% if current_user.is_submitter() %}
                <tr>
            <td><a href="{{url_for('new.new_entry')}}"><button class="btn btn-primary">New submission</button></a></td>
                    <td>Create a new draft submission</td>
                </tr>
                {% endif %}
                {% if current_user.is_reviewer() %}
                <tr>
            <td><a href="{{url_for('review.list_submissions')}}"><button class="btn btn-primary">Review</button></a>
                    </td>
                    <td>Review pending submissions and mutations</td>
                </tr>
                {% endif %}
                {% if current_user.is_admin() %}
                <tr>
            <td><a href="{{url_for('admin.list_users')}}"><button class="btn btn-primary">Users</button></a></td>
                    <td>Add, change and remove users</td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% endmacro %}

        {% macro list_submissions(existing_submissions, submission_start, submission_limit, submission_search,
        submission_count) %}

        <div id="submission-list" class="form-group subgroup">
            <div class="">
                <div class="row">
                    <div class="col s5">
                        <input type="text" class="form-control" id="submissionSearch"
                            placeholder="Search for submission or mutation" value="{{submission_search}}">
                    </div>
                    <div class="col s2">
                        <button id="submissionSearchBtn" class="btn btn-primary">Search</button>
                        <script type="application/javascript">
                            const submissionSearchBtn = document.getElementById('submissionSearchBtn');
                            const submissionSearch = document.getElementById('submissionSearch');
                            submissionSearchBtn.addEventListener('click', () => {
                                document.location.href = "?submission_search=" + submissionSearch.value + "#submission-list";
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if existing_submissions | count == 0 %}
                <div class="col 3"></div>
                <div class="col 6">There are no submissions or mutations to display.</div>
                {% else %}
                <table class="table">
                    <thead class="table-header">
                        <th>Accession</th>
                        <th>Type</th>
                        <th>Creator</th>
                        <th></th>
                    </thead>
                    {% for submission in existing_submissions %}
                    <tr class="{{ 'blue lighten-5' if submission.owner else '' }}">
                        <td>{{ submission.accession }}</td>
                        <td>{{ submission.type if submission.type == "new submission" else "mutation of " +
                            submission.source_accession }}</td>
                        <td>{{ "You" if submission.owner else "Someone else" }}</td>
                        <td></td>
                        <td>

                            <a href="{{url_for('edit.edit_bgc_redirect', bgc_id=submission.accession)}}"><button
                                    class="btn btn-primary">Edit</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="container">
                    <div class="row">
                        <div class="col s1 offset-s4">
                            {% if submission_start | int > 0 %}
                            <a href="/?submission_start={{[0, submission_start | int - 10] | max}}#submission-list"><button
                                    class="btn btn-primary">&lt;</button></a>
                            {% endif %}
                        </div>
                        <div class="col s2 center-align">
                            {{submission_start | int + 1}} - {{[submission_count, submission_start | int + 10 ] | min}}
                        </div>
                        <div class="col s1">
                            {% if submission_start | int + 10 < submission_count %} <a
                                href="/?submission_start={{[submission_count, submission_start | int + 10 ] | min}}#submission-list">
                                <button class="btn btn-primary">&gt;</button></a>
                                {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        {% endmacro %}


        {% macro list_existing_entries(existing_entries, entry_start, entry_limit, entry_search, entry_count) %}

        <div id="existing-entry" class="form-group subgroup">
            <div class="">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="bgcSearch" placeholder="Search for BGC ID"
                            value="{{search}}">
                    </div>
                    <div class="col">
                        <button id="searchBtn" class="btn btn-primary">Search</button>
                        <script type="application/javascript">
                            const searchBtn = document.getElementById('searchBtn');
                            const bgcSearch = document.getElementById('bgcSearch');
                            searchBtn.addEventListener('click', () => {
                                document.location.href = "?entry_search=" + bgcSearch.value + "#existing-entry";
                            });
                        </script>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead class="table-header">
                    <th>Accession</th>
                    <th>Status</th>
                    <th>Completeness</th>
                    <th></th>
                </thead>
                {% for entry in existing_entries %}
                <tr>
                    <td>{{ entry.accession }}</td>
                    <td>{{ entry.status }}</td>
                    <td>{{ entry.completeness }}</td>
                    <td><a href="{{url_for('new.create_bgc_mutation', bgc_id=entry.accession)}}"><button
                                class="btn btn-primary">Edit</button></a></td>
                </tr>
                {% endfor %}
            </table>
            <div class="container">
                <div class="row">
                    <div class="col s1 offset-s4">
                        {% if entry_start | int > 0 %}
                        <a href="/?entry_start={{[0, entry_start | int - 10] | max}}#existing-entry"><button
                                class="btn btn-primary">&lt;</button></a>
                        {% endif %}
                    </div>
                    <div class="col s2 center-align">
                        {{entry_start | int + 1}} - {{[entry_count, entry_start | int + 10 ] | min}}
                    </div>
                    <div class="col s1">
                        {% if entry_start | int + 10 < entry_count %} <a
                            href="/?entry_start={{[entry_count, entry_start | int + 10 ] | min}}#existing-entry">
                            <button class="btn btn-primary">&gt;</button></a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endmacro %}

        {% macro render_wizard_nav(show_nav, bgc_id, prev_form, next_form, show_save=True) %}
        {% if show_save %}
        <div class="row">
            <div class="col s12">
                <input type="submit" value="Save changes" class="btn btn-large btn-wide green" />
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col s4 center-align">
                {% if show_nav and prev_form %}
                <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id=prev_form.id) }}">
                    <button id="back-btn" class="btn btn-secondary btn-large btn-nav" type="button">
                        Prev: {{ prev_form.description }}
                    </button>
                </a>
                {%- endif %}
            </div>
            <div class="col s4 center-align">
                <a href="{{ url_for('edit.edit_bgc_redirect', bgc_id=bgc_id) }}">
                    <button id="back-btn" class="btn btn-secondary btn-large btn-nav" type="button">
                        Back to edit overview
                    </button>
                </a>
            </div>
            <div class="col s4 center-align">
                {% if show_nav and next_form %}
                <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id=next_form.id) }}">
                    <button id="back-btn" class="btn btn-secondary btn-large btn-nav" type="button">
                        Next: {{ next_form.description }}
                    </button>
                </a>
                {%- endif %}
            </div>

        </div>

        {% endmacro %}

        {% macro descr(field) %}

        {% if field.description %}
        <p class="form-text grey-text text-darken-1" style="margin-bottom:0">{{field.description}}</p>
        {% endif %}

        {% endmacro %}

        {% macro icon(name) -%}
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" width="1em" fill="currentColor">
            <use xlink:href="/static/img/icons.svg#{{ name }}"></use>
        </svg>
        {%- endmacro %}