{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Editing {{ bgc_id }}
{% endblock %}

{% block body %}

{% import 'bgc_viewer.html' as bgc_viewer %}

<script type="application/javascript">
    const createNewModule = () => {
        const moduleSelect = document.getElementById('module-select');
        const module = moduleSelect.value;
        const hrefParts = document.location.href.split('/');

        // no module, just paste the module at the end
        if (hrefParts[hrefParts.length - 1] == 'new_module') {
            document.location.href = document.location.href + '/' + module;
            return;
        }

        // otherwise, rebuild the url
        let newHref = hrefParts.slice(0, hrefParts.length - 1);
        newHref.push(module);
        document.location.href = newHref.join('/');
    };
</script>

<div class="form-wrapper container">
    {{ bgc_viewer.bgc_viewer(antismash_json) }}
    <h4>Add a new module</h4>

    <div class="">
        <div class="form-group row">
            <div class="col">
                <select id="module-select" class="form-select" onchange="createNewModule()">
                    {% for choice in choices %}
                    <option value="{{choice.value}}" {{'selected' if module==choice.value}}>{{choice.label}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% if form %}
    <form method="post">
        <div class="row">
            {{ macros.simple_divform_inner(form, is_reviewer=is_reviewer, reviewed=reviewed) }}
        </div>
        <div class="container">
            <div class="form-group row">

                <input type="submit" class="btn btn-primary btn-wide green" value="Create module">
            </div>
        </div>
    </form>
    <div class="container">
        <div class="form-group row">
            <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id='biosynth') }}"><button id="back-btn"
                    class="btn btn-outline-secondary btn-wide red">Cancel</button></a>
        </div>
    </div>
    <div>
    </div>
    {% endif %}

</div>
<div class="container">
</div>
{% endblock %}