{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
<link href="{{ url_for('static', filename='css/diff.css') }}" rel="stylesheet">
<h2 class="edit-header">Viewing diff</h2>
<!-- <script type="application/javascript" src="/static/js/diff.min.js"></script> -->
<script type="application/javascript" src="/static/js/diff.js"></script>
{% endblock %}

{% block body %}

<div class="col">
    <div class="card current-document" id="output"></div>
</div>
<!-- <div class="col">
    <div class="card system-generated" id="outputNew"></div>
</div> -->

<script type="application/javascript">
    const diffContainer = document.getElementById('diff-container');
    const leftFileName = '{{ left }}';
    const rightFileName = '{{ right }}';
    const mibigJsonUrl = '{{ mibig_json_url }}';
    
    
    let getDiff = async () => {
        const leftResponse = await fetch(mibigJsonUrl + leftFileName + '?pretty=true');
        const leftData = await leftResponse.text();
        
        const rightResponse = await fetch(mibigJsonUrl + rightFileName + '?pretty=true');
        const rightData = await rightResponse.text();


        // Diff HTML strings
        let output = htmldiff(leftData, rightData);
        // let input = htmldiff(rightData, leftData);

        // Show HTML diff output as HTML!
        document.getElementById("output").innerHTML = output;
        // document.getElementById("outputOriginal").innerHTML = originalHTML;
        // document.getElementById("outputNew").innerHTML = input;
        
        // const diff = Diff.diffJson(leftData, rightData);
        
        // diff.forEach((part) => {
        //     // green for additions, red for deletions
        //     // grey for common parts
            
        //     const color = part.added ? 'green' :
        //     part.removed ? 'red' : 'grey';
        //     span = document.createElement('div');
        //     span.style.color = color;
        //     span.appendChild(document
        //     .createTextNode(part.value));
        //     diffContainer.appendChild(span);
        // });
    };
    
    getDiff();
    
    
</script>


{% endblock %}