{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block body %}

<div class="content">
    <div class="form-wrapper container">
        <div class="">
            <h5>Hello {{ current_user.info.name }}.</h5>

            <p>This is the first time you are logging in. Please fill in the details below</p>

            <form method="post">
                {{ macros.simple_divform_inner(form, is_reviewer=False) }}
                <div class="container">
                    <div class="form-group row">
                        <input type="submit" class="btn btn-primary btn-wide green" value="Save user infor changes">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}