{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Editing {{ bgc_id }}
{% endblock %}

{% block body %}

<script type="application/javascript">
    const createNewClass = () => {
        const moduleSelect = document.getElementById('class-select');
        const module = moduleSelect.value;
        const hrefParts = document.location.href.split('/');

        // no module, just paste the module at the end
        if (hrefParts[hrefParts.length - 1] == 'new_class') {
            document.location.href = document.location.href + '/' + module;
            return;
        }

        // otherwise, rebuild the url
        let newHref = hrefParts.slice(0, hrefParts.length - 1);
        newHref.push(module);
        document.location.href = newHref.join('/');
    };
</script>

<div class="form-wrapper container">
    <h4>Add a new class</h4>

    <div class="">
        <div class="form-group row">
            <div class="col">
                <select id="class-select" class="form-select">
                    {% for choice in choices %}
                    <option value="{{choice.value}}" {{'selected' if class_type==choice.value}}>{{choice.label}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <button class="btn btn-primary" onclick="createNewClass()">{{'Select' if class_type == None else
                    'Change'}}
                    class</button>
            </div>
        </div>
    </div>
    {% if form %}
    <form method="post">
        {{ macros.simple_divform_inner(form, is_reviewer=is_reviewer, reviewed=reviewed) }}
        <div class="container">
            <div class="form-group row">
                <input type="submit" class="btn btn-primary btn-wide green" value="Create class">
            </div>
        </div>
    </form>
    <div class="container">
        <div class="form-group row">
            <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id='biosynth') }}"><button id="back-btn"
                    class="btn btn-outline-secondary btn-wide red">Cancel</button></a>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}