{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Editing {{ bgc_id }}
{% endblock %}

{% block body %}

<div class="form-wrapper container">
    <h4>Editing {{class_type}} class</h4>

    <form method="post" class="">
        {{ macros.simple_divform_inner(form, is_reviewer=is_reviewer, reviewed=reviewed) }}
        <div class="container">
            <div class="form-group row">
                <input type="submit" class="btn btn-primary btn-wide green" value="Save class changes">
            </div>
        </div>
    </form>
    <div class="container">
        <div class="form-group row">
            <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id='biosynth') }}"><button id="back-btn"
                    class="btn btn-outline-secondary btn-wide red">Return to biosynthetic overview</button></a>
        </div>
    </div>
</div>
{% endblock %}