{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
<h2 class="edit-header">Editing {{ bgc_id }}</h2>
{% endblock %}

{% block body %}

{% import 'bgc_viewer.html' as bgc_viewer %}
{{ bgc_viewer.bgc_viewer(antismash_accessions, antismash_json_url) }}

<div class="form-wrapper">
    <h4>Enter {{ form_description }}</h4>

    {{ macros.simple_divsubform(form.classes) }}

    <div class="form-group">
        <p class="form-label fw-bold">Modules</p>
        <table>
            <tr>
                <th>Gene</th>
                <th>Type</th>
                <th></th>
            </tr>
            {% for module in form.modules %}
            <tr>
                <td>
                    <input type="text" name="{{module.genes[0].name}}" id="{{module.genes[0].name}}"
                        value="{{module.genes[0].data}}" class="form-control">
                </td>
                <td>
                    <select name="{{ module['type'].name}}" id="{{ module['type'].name}}" class="form-select">
                        {% for choice in module['type'].choices %}
                        <option value="{{choice}}">{{choice}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <a
                        href="{{ url_for('edit.edit_biosynth_modules', bgc_id=bgc_id, name=module['name'].data, module=module['type'].data) }}">
                        <button type="button" class="btn btn-primary">Edit module</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td><button class="btn btn-primary">Add new module</button></td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    {% if prev_form %}
    <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id=prev_form.id) }}"><button id="back-btn"
            class="btn btn-outline-secondary">Previous: {{ prev_form.description }}</button></a>
    {%- endif %}
    {% if next_form %}
    <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id=next_form.id) }}"><button id="back-btn"
            class="btn btn-outline-secondary">Next: {{ next_form.description }}</button></a>
    {%- endif %}

</div>

{% endblock %}