{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
<h2 class="edit-header">Editing {{ bgc_id }}</h2>
{% endblock %}

{% block body %}

{% import 'bgc_viewer.html' as bgc_viewer %}
{{ bgc_viewer.bgc_viewer(antismash_accessions, antismash_json_url) }}

<div class="form-wrapper">
    <h4>Enter {{ form_description }}</h4>

    {{ macros.simple_divform_inner(form.classes) }}

    <div class="form-group">
        <p class="form-label fw-bold">Modules</p>
        <table class="table">
            <tbody id="module-table">
                <tr>
                    <th>#</th>
                    <th>Gene</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                {% for module in form.modules %}
                <tr>
                    <td>
                        {{module['name'].data}}
                    </td>
                    <td>
                        {{module.genes[0].data}}
                    </td>
                    <td>
                        {{module['type'].data}}
                    </td>
                    <td>
                        <a
                            href="{{ url_for('edit.edit_biosynth_module', bgc_id=bgc_id, name=module['name'].data, module=module['type'].data) }}">
                            <button type="button" class="btn btn-primary" type="button">Edit module</button>
                        </a>
                        <a href="{{ url_for('edit.remove_biosynth_module', bgc_id=bgc_id, name=module['name'].data) }}">
                            <button type="button" class="btn btn-danger" type="button">X</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{url_for('edit.create_biosynth_module_new', bgc_id=bgc_id)}}">
            <button class="btn btn-primary" type="button">Add new module</button>
        </a>
    </div>
    {% if prev_form %}
    <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id=prev_form.id) }}"><button id="back-btn"
            class="btn btn-secondary" type="button">Previous: {{ prev_form.description }}</button></a>
    {%- endif %}
    {% if next_form %}
    <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id=next_form.id) }}"><button id="back-btn"
            class="btn btn-secondary" type="button">Next: {{ next_form.description }}</button></a>
    {%- endif %}

</div>

{% endblock %}