{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Editing {{ bgc_id }}
{% endblock %}

{% block body %}

<div class="form-wrapper">
    <h4>Confirm removal</h4>

    <form method="post" class="">
        <div class="form-group row">
            <h4>Are you sure you want to remove the following compound?</h4>

            <hr>

            <span style="white-space: pre;">{{ compound_text }}</span>

            <hr>

            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-danger" value="Delete compound" data-method="post" />
                </div>
                <div class="col col-auto">
                    <a href="{{ url_for('edit.edit_bgc', bgc_id=bgc_id, form_id='compounds') }}"><button
                            class="btn btn-primary" type="button">Cancel</button></a>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}