{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Editing {{ bgc_id }}
{% endblock %}

{% block body %}

{% import 'bgc_viewer.html' as bgc_viewer %}
{{ bgc_viewer.bgc_viewer(antismash_accessions, antismash_json_url) }}

<div class="form-wrapper">
    <h4>Enter {{ form_description }}</h4>

    <form method="post">
        {{ macros.simple_divform_inner(form, is_reviewer=is_reviewer, reviewed=reviewed) }}

        {{ macros.render_wizard_nav(show_nav, bgc_id, prev_form, next_form)}}

    </form>
</div>

{% endblock %}