{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Claiming {{ bgc_id }} review
{% endblock %}

{% block body %}

<div class="form-wrapper center-align">
    <h4>Confirm claim</h4>

    <form method="post" class="container">
        <div class="form-group row">
            <div class="row">
                <h4>Are you sure you want to start reviewing this submission?</h4>

                <h5>{{ bgc_id }} {{ category }}</h5>
                <!-- 
                <span style="white-space: pre-line;">
                    {{ entry_json }}
                </span> -->

                <h6>This will prevent the submitter from re-drafting this submission, and will allow you exclusively
                    to review the submission</h6>



            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-danger green" value="Claim submission" data-method="post" />
                </div>
                <div class="col col-auto">
                    <a href="{{ url_for('review.list_submissions') }}"><button class="btn btn-primary red"
                            type="button">Cancel</button></a>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}