{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block body %}

<div class="content">
    <div class="form-wrapper">
        <div id="review-list" class="form-group subgroup">
            <div class="row">
                <div class="col s3">
                    <input type="text" class="form-control" id="reviewSearch" placeholder="Search for review"
                        value="{{search}}">
                </div>
                <div class="col s1">
                    <button id="reviewSearchBtn" class="btn btn-primary">Search</button>
                    <script type="application/javascript">
                        const reviewSearchBtn = document.getElementById('reviewSearchBtn');
                        const reviewSearch = document.getElementById('reviewSearch');
                        reviewSearchBtn.addEventListener('click', () => {
                            document.location.href = "?search=" + reviewSearch.value + "&category={{category}}#review-list";
                        });
                    </script>
                </div>
                <div class="col s1">
                    <button id="clearSearchBtn" class="btn btn-primary">Clear</button>
                    <script type="application/javascript">
                        const clearSearchBtn = document.getElementById('clearSearchBtn');
                        clearSearchBtn.addEventListener('click', () => {
                            document.location.href = "?category={{category}}#review-list";
                        });
                    </script>
                </div>
            </div>
            <table class="table">
                <thead class="table-header">
                    <th>
                        Submission ID
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Biosynthetic class
                    </th>
                    <th>
                        Organism
                    </th>
                    <th class="col-orderable {{'fill' if category else ''}} dropdown-trigger" data-target="dropdown1">
                        Category
                        <ul id='dropdown1' class='dropdown-content'>
                            <div class="dropdown-header">Filter category:</div>
                            <li class="divider" tabindex="-1"></li>
                            <li><a class="col-orderable" href="?search={{search}}#review-list">No filters</a></li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=locitax#review-list">locitax</a>
                            </li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=biosynth#review-list">biosynth</a>
                            </li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=compounds#review-list">compounds</a>
                            </li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=gene_information#review-list">gene info</a>
                            </li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=finalize#review-list">finalize</a>
                            </li>
                        </ul>
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>

                    </th>
                </thead>
                {% if accepted_count > 0 %}
                {% for submission in accepted_submissions %}
                <tr>
                    <td>
                        {{ submission.accession }}
                    </td>
                    <td>
                        {{ submission.type if submission.type == "new submission" else "mutation of " +
                        submission.source_accession }}
                    </td>
                    <td>
                        {{"-".join(submission.class)}}
                    </td>
                    <td>
                        {{submission.taxonomy}}
                    </td>
                    <td>
                        {{ submission.category }}
                    </td>
                    <td>
                        <a
                            href="{{ url_for('review.view_references', bgc_id=submission.accession, redirect='review.list_accepted_submissions' )}}">
                            <button class="btn btn-primary">View references</button>
                        </a>
                        <a
                            href="{{url_for('review.view_review_comments', bgc_id=submission.accession, category=submission.category, redirect='review.list_accepted_submissions')}}">
                            <button class="btn btn-primary">View review comment history</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="container">
                <div class="row">
                    <div class="col s1 offset-s4">
                        {% if start | int > 0 %}
                        <a
                            href="/review/?start={{[0, start | int - limit | int] | max}}&limit={{limit}}&search={{search}}&category={{category}}#review-list">
                            <button class="btn btn-primary">&lt;</button></a>
                        {% endif %}
                    </div>
                    <div class="col s2 center-align">
                        {{start | int + 1}} - {{[accepted_count, start | int + limit | int ] | min}}
                    </div>
                    <div class="col s1">
                        {% if start | int + limit | int < accepted_count %} <a
                            href="/review/?start={{[accepted_count, start | int + limit | int ] | min}}&limit={{limit}}&search={{search}}&category={{category}}#review-list">
                            <button class="btn btn-primary">&gt;</button></a>
                            {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            </table>
            <h5>There are no submissions or mutations pending review</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}