{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block body %}

<div class="content">
    <div class="form-wrapper">
        <h3>Currently reviewing:</h3>
        <div class="form-group subgroup">
            {% if reviewing | length > 0 %}
            <table class="table">
                <thead class="table-header">
                    <th>
                        Submission ID
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Biosynthetic class
                    </th>
                    <th>
                        Organism
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Review options
                    </th>
                </thead>
                {% for submission in reviewing %}
                <tr>
                    <td>
                        {{ submission.accession }}
                    </td>
                    <td>
                        {{ submission.type }}
                    </td>
                    <td>
                        {{"-".join(submission.class)}}
                    </td>
                    <td>
                        {{submission.taxonomy}}
                    </td>
                    <td>
                        {{ submission.category }}
                    </td>
                    <td>
                        <a href="{{ url_for('edit.edit_bgc', bgc_id=submission.accession, form_id=submission.category )}}">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                    </td>
                    <td>
                        {% if submission.type == "new submission" %}
                        <a href="{{ url_for('edit.view_json', bgc_id=submission.accession )}}">
                            <button class="btn btn-primary">View as JSON</button>
                        </a>
                        {% else %}
                        <a
                            href="{{ url_for('diff.view_diff', left=submission.source_accession, right=submission.accession )}}">
                            <button class="btn btn-primary">View diff with original</button>
                        </a>
                        {% endif %}
                        <a href="{{ url_for('review.cancel_review', bgc_id=submission.accession, category=submission.category )}}">
                            <button class="btn btn-primary red">Cancel review</button>
                        </a>
                        <a href="{{ url_for('review.approve', bgc_id=submission.accession, category=submission.category )}}">
                            <button class="btn btn-primary green">Approve</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h5>You are not reviewing any submissions or mutations</h5>
            {% endif %}
        </div>


        <h3>Pending review:</h3>
        <div id="review-list" class="form-group subgroup">
            <div class="row">
                <div class="col s3">
                    <input type="text" class="form-control" id="reviewSearch" placeholder="Search for review"
                        value="{{search}}">
                </div>
                <div class="col s1">
                    <button id="reviewSearchBtn" class="btn btn-primary">Search</button>
                    <script type="application/javascript">
                        const reviewSearchBtn = document.getElementById('reviewSearchBtn');
                        const reviewSearch = document.getElementById('reviewSearch');
                        reviewSearchBtn.addEventListener('click', () => {
                            document.location.href = "?search=" + reviewSearch.value + "&category={{category}}#review-list";
                        });
                    </script>
                </div>
                <div class="col s1">
                    <button id="clearSearchBtn" class="btn btn-primary">Clear</button>
                    <script type="application/javascript">
                        const clearSearchBtn = document.getElementById('clearSearchBtn');
                        clearSearchBtn.addEventListener('click', () => {
                            document.location.href = "?category={{category}}#review-list";
                        });
                    </script>
                </div>
            </div>
            <table class="table">
                <thead class="table-header">
                    <th>
                        Submission ID
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Biosynthetic class
                    </th>
                    <th>
                        Organism
                    </th>
                    <th class="col-orderable {{'fill' if category else ''}} dropdown-trigger" data-target="dropdown1">
                        Category
                        <ul id='dropdown1' class='dropdown-content'>
                            <div class="dropdown-header">Filter category:</div>
                            <li class="divider" tabindex="-1"></li>
                            <li><a class="col-orderable" href="?search={{search}}#review-list">No filters</a></li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=locitax#review-list">locitax</a>
                            </li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=biosynth#review-list">biosynth</a>
                            </li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=compounds#review-list">compounds</a>
                            </li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=gene_information#review-list">gene info</a>
                            </li>
                            <li><a class="col-orderable fill"
                                    href="?search={{search}}&category=finalize#review-list">finalize</a>
                            </li>
                        </ul>
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>

                    </th>
                </thead>
                {% if pending_submissions | length > 0 %}
                {% for submission in pending_submissions %}
                <tr>
                    <td>
                        {{ submission.accession }}
                    </td>
                    <td>
                        {{ submission.type if submission.type == "new submission" else "mutation of " +
                        submission.source_accession }}
                    </td>
                    <td>
                        {{"-".join(submission.class)}}
                    </td>
                    <td>
                        {{submission.taxonomy}}
                    </td>
                    <td>
                        {{ submission.category }}
                    </td>
                    <td>
                        <a href="{{ url_for('review.claim_review', bgc_id=submission.accession, category=submission.category )}}">
                            <button class="btn btn-primary">Claim for review</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            </table>
            <h5>There are no submissions or mutations pending review</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}