{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Editing {{ bgc_id }}
{% endblock %}

{% block body %}

<div class="form-wrapper">
    <h4>Confirm lock release</h4>

    <form method="post" class="container">
        <div class="form-group row">
            <h3>Are you sure you want to release the lock from the following submission?</h3>

            <hr>

            Entry: {{ bgc_id }}
            Category: {{ category }}

            <hr>

            {% if category == "full" %}
            <h6>This means that someone else can edit this category on this entry.</h6>
            {% else %}
            <h6>This means that someone else can edit this category on this entry.</h6>
            {% endif %}

            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-danger" value="Release lock" name="unlock" data-method="post" />
                </div>
                {% if category != "full" %}
                <div class="col">
                    <input type="submit" class="btn btn-danger" name="promote" value="Release lock and request review"
                        data-method="post" />
                </div>
                {% endif %}
                <div class="col col-auto">
                    <a href="{{ url_for('edit.edit_bgc_redirect', bgc_id=bgc_id) }}"><button class="btn btn-primary"
                            type="button">Cancel</button></a>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}