{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Redrafting {{ bgc_id }}
{% endblock %}

{% block body %}

<div class="form-wrapper">
    <h4>Confirm redraft</h4>

    <form method="post" class="container center-align">
        <div class="form-group row">
            <div class="row">
                <h3 class="text-center">Are you sure you want to discard the following submission?</h3>

                <h2 class="text-center">{{ bgc_id }}</h2>



                <h6 class="text-center">This will prevent it from being shown on the main page, and will prevent anyone
                    from working on it further</h6>
                <h6 class="text-center">Contact the administrators if you need to restore a submission after discarding
                    it</h6>

                <br>


            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn red" value="Discard submission" data-method="post" />
                </div>
                <div class="col col-auto">
                    <a href="{{ url_for('main.index') }}"><button class="btn btn-primary"
                            type="button">Cancel</button></a>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}