{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Editing {{ bgc_id }}
{% endblock %}

{% block body %}
<div class="form-wrapper">
    <div class="form-group center-align">
        <h4>What would you like to edit?</h4>
        <table>
            <thead>
                <th>Category</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Unlocks at</th>
                <th></th>
            </thead>
            <tbody>
                {% set fully_locked = "full" in lock_info %}

                {% if not fully_locked %}
                {% for lock_key in lock_keys %}
                {% set locked = (lock_key in lock_info) or fully_locked %}
                {% set lock = lock_info[lock_key] if lock_key in lock_info else lock_info["full"] %}
                <tr>
                    <td>
                        {{ readable_category_map[lock_key] }}
                    </td>
                    <td>
                        {{ "Locked" if locked else "Editable" }}
                    </td>
                    <td>
                        {{ "Locked by you" if locked and lock['is_owner'] else "Locked by someone else" if locked else
                        "" }}
                    </td>
                    <td>
                        {{ lock['unlocks_at'] if locked else ""}}
                    </td>
                    <td>
                        {% if not locked %}
                        <a href="{{ url_for('edit.request_lock', bgc_id=bgc_id, category=lock_key) if not fully_locked }}">
                            <button class="btn btn-primary" {{ "disabled" if fully_locked }}>Request lock</button>
                        </a>
                        {% endif %}
                        {% if locked and lock['is_owner'] and not fully_locked %}
                        <a href="{{url_for('edit.edit_bgc', bgc_id=bgc_id, form_id=lock_key)}}">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if locked and lock['is_owner'] and not fully_locked %}
                        <a href="{{url_for('edit.release_lock', bgc_id=bgc_id, category=lock_key)}}">
                            <button class="btn btn-primary">Release</button>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                {% set lock_key = "full" %}
                {% set lock = lock_info[lock_key] %}
                {% set locked = True %}
                <tr>
                    <td>
                        {{ readable_category_map["full"] }}
                    </td>
                    <td>
                        {{ "Locked" }}
                    </td>
                    <td>
                        {{ "Locked by you" if locked and lock['is_owner'] else "Locked by someone else" if locked else
                        "" }}
                    </td>
                    <td>
                        {{ lock['unlocks_at'] if locked else ""}}
                    </td>
                    <td>
                        {% if not locked %}
                        <a href="{{url_for('edit.request_lock', bgc_id=bgc_id, category=lock_key)}}">
                            <button class="btn btn-primary">Request lock</button>
                        </a>
                        {% endif %}
                        {% if locked and lock['is_owner'] %}
                        <a href="{{url_for('edit.edit_bgc_full', bgc_id=bgc_id, form_id='locitax')}}">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if locked and lock['is_owner'] %}
                        <a href="{{url_for('edit.release_lock', bgc_id=bgc_id, category=lock_key)}}">
                            <button class="btn btn-primary">Release</button>
                        </a>
                        {% endif %}
                    </td>
                </tr>

                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <a href="{{ url_for('main.index') }}"><button class="btn btn-outline-secondary">Back to entry selection</button></a>
</div>
{% endblock %}