{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block header %}
Promoting {{ bgc_id }}
{% endblock %}

{% block body %}

<div class="form-wrapper">
    <h4>Confirm sending to reviewer</h4>

    <form method="post" class="container">
        <div class="form-group row">
            <div class="row center-align">
                <h4 class="text-center">Are you sure you want to send the following to review?</h4>

                <h4 class="text-center">{{ bgc_id }} {{ category }}</h4>

                <h6 class="text-center">This will send it for review to a reviewer</h6>
                <h6 class="text-center">This locks the category so you can no longer edit it</h6>
                <h6 class="text-center">You can re-draft it at any time to cancel the review request</h6>

                <br>


            </div>
            <div class="row ">
                <div class="col ">
                    <input type="submit" class="btn green" value="Confirm" data-method="post" />
                </div>
                <div class="col col-auto">
                    <a href="{{ url_for('edit.edit_bgc_redirect', bgc_id=bgc_id) }}"><button class="btn btn-primary"
                            type="button">Cancel</button></a>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}